
.btn-secondary{
    background-color: rgb(53, 131, 199);
}

img {
    max-width: 25%;
    max-height: 25%;
}

/* img {width:500px; height:350px;overflow:hidden;} */
/* img{transform:scale(1,1);transition: all 1s ease-out;} */
img{transform:scale(2,2);}
/* .dd{transform:scale(1,1);} */
/* img:hover{transform:scale(1.2,1.2);} */
/* .pic:hover > td>img{ */
/* img:hover{
    transform:scale(5,5);
    transition: all .2s linear;
    z-index: 99999;
    position: relative;
    left: 30px;
    border-radius: 5px;
} */
#box{
    position: relative;
    top: 150px;
    left: 40px;
    width: 100px;
    height: 100px;
    background-color: lightgray;
}
#box > img{
    top: 300px;
    transform:scale(12,12);
    border-radius: 1px;
    /* width: auto;
    height: auto; */
    /* background-color: black; */
    /* border: 1px solid gray; */
}

img:hover tr {
    color: white;
    /* background-color: rgb(75, 141, 227); */
    background-color: rgb(126, 175, 239);
}
/* .pic:hover td {
    color: white;
    background-color: rgb(126, 175, 239);
} */
/* .pic:hover {
    color: white;
    background-color: rgb(75, 141, 227);
} */
tr:nth-child(even){
    background-color:#8bb3ef;
  }

.selected{

    /* border-bottom: 1px solid #8bb3ef; */
    border: 2px solid #8bb3ef !important;


 }




.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}